@model Client

@{
    ViewData["Title"] = "Create";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error</strong> @errorMessage
    </div>
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="ClientName" class="control-label">Client Name</label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientSurname" class="control-label">Client Surname</label>
                <input asp-for="ClientSurname" class="form-control" />
                <span asp-validation-for="ClientSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label">Contact Number</label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallCenterName" class="control-label">Call Center Name</label>
                <input asp-for="CallCenterName" class="form-control" />
                <span asp-validation-for="CallCenterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idnumber" class="control-label">ID Number</label>
                <input asp-for="Idnumber" class="form-control" />
                <span asp-validation-for="Idnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountBalance" class="control-label">Account Balance</label>
                <input asp-for="AccountBalance" class="form-control" />
                <span asp-validation-for="AccountBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaptureDate" class="control-label">Capture Date</label>
                <input asp-for="CaptureDate" class="form-control" />
                <span asp-validation-for="CaptureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapturedBy" class="control-label">Captured By</label>
                <input asp-for="CapturedBy" class="form-control" />
                <span asp-validation-for="CapturedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentsToDate" class="control-label">Payments To Date</label>
                <input asp-for="PaymentsToDate" class="form-control" />
                <span asp-validation-for="PaymentsToDate" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
